@charset "UTF-8";

body{
	padding: 0;
	margin: 0;
}
img {
	position:absolute;
}
.buttonrug {
  left: 436px;
  top: 1140px;
}
img {
	position:absolute;
}
.queen {	
  left: 143px;
  top: 192px;
}
img {
	position:absolute;
}
.flowers {
	 left: 1756px;
  top: 433px; 
}
img {
	position:absolute;
}
.chair {
  left: 1398px;
  top: 856px;
}
img {
	position:absolute;
}
.dripping {
  left: 1603px;
  top: 0px;
}
img {
	position:absolute;
}
.plant {
  left: 693px;
  top: 267px;
}
img {
	position:absolute;
}
.eyeballs {
  left: 420px;
  top: 254px;
}
img {
	position:absolute;
}
.cowpillow {
  left: 127px;
  top: 863px;
}
img {
	position:absolute;
}
.dog {
  left: 892px;
  top: 1005px;
}
img {
	position:absolute;
}
.notebook {
  left: 406px;
  top: 1065px;
}
img {
	position:absolute;
}
.miguel {
  left: 1278px;
  top: 530px;
}
img {
	position:absolute;
}
.harryrecord {
  left: 1282px;
  top: 437px;
}
img {
	position:absolute;
}
.city {
  left: 920px;
  top: 260px;
}












