@charset "UTF-8";

img {
	position:absolute;
}
.barn {
  left: 562px;
  top: 300px;

}
img {
	position:absolute;
}
.blueeye {
  left: 642px;
  top: 1517px;
}

img {
	position:absolute;
}

.greeneye {
  left: 314px;
  top: 1194px;
 
}

img {
	position:absolute;
}
.browneye {
  left: 734px;
  top: 1106px;
}





