@charset "UTF-8";

img {
	position:absolute;
}
.baseball {
  left: 493px;
  top: 1746px;

}
img {
	position:absolute;
}
.mountains {
  left: 76px;
  top: 1709px;
}
img {
	position:absolute;
}
.freddie {
  left: 1068px;
  top: 1707px;

}




